<mat-drawer-container [hasBackdrop]="false">
  <mat-drawer
    id="action-drawer"
    #actionDrawer
    mode="over"
    position="end"
    (openedStart)="drawerOpenedChange(true)"
    (closedStart)="drawerOpenedChange(false)"
  >
    <app-sketch-controls
      *ngIf="(sketch$ | async)?.controls as controls"
      [controls]="controls"
      (redraw)="redraw()"
      (download)="download()"
    >
    </app-sketch-controls>
  </mat-drawer>

  <mat-drawer-content
    #drawerContent
    [ngStyle]="{
      'grid-template-columns': route.snapshot.data.width
        ? '1fr auto 1fr'
        : '1fr ' + DEFAULT_CANVAS_WIDTH + ' 1fr',
      'grid-template-rows': route.snapshot.data.height
        ? '1fr auto 1fr'
        : '1fr ' + DEFAULT_CANVAS_HEIGHT + ' 1fr'
    }"
  >
    <div id="p5js-parent" class="mat-elevation-z24"></div>

    <button
      *ngIf="showActionDrawerButton$ | async"
      mat-icon-button
      class="action-drawer-button"
      (click)="actionDrawer.toggle()"
      [style.right.px]="actionDrawerButtonRightPosition$ | async"
    >
      <mat-icon>
        {{ actionDrawer.opened ? "chevron_right" : "chevron_left" }}
      </mat-icon>
    </button>
  </mat-drawer-content>
</mat-drawer-container>
